VITE_NETWORK_ID=preprod
VITE_CONTRACT_ADDRESS=52a195f6b68a2f09c8535afe2cfed126068b4cf82eead210b6d1504a985c285e
VITE_INDEXER_URL=https://indexer.preprod.midnight.network/api/v4/graphql
VITE_INDEXER_WS_URL=wss://indexer.preprod.midnight.network/api/v4/graphql/ws
