VITE_NETWORK_ID=preprod
VITE_CONTRACT_ADDRESS=4cae45d1c4e6d2acc4e607f60cd61c19b77c31c84af0cc72c827889271041f44
VITE_INDEXER_URL=https://indexer.preprod.midnight.network/api/v4/graphql
VITE_INDEXER_WS_URL=wss://indexer.preprod.midnight.network/api/v4/graphql/ws
